@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  /* Light mode variables */
  --color-offblack: oklch(0.1822 0 0);
  --color-iridium: oklch(0.3457 0.0052 286.13);
  --color-offwhite: oklch(0.9731 0 0);
  --color-eggshell: oklch(0.9 0.0112 243.67);
  --color-silver: oklch(0.74 0.0071 233.68);
  --color-red: oklch(65.32% 0.2202 25.76);
  --color-green: oklch(0.808 0.1685 126.11);
  --color-blue: oklch(0.4645 0.2992 269.05);

  --clrBg: var(--color-eggshell);
  --clrText: var(--color-offblack);
  --clrDetail: oklch(from var(--clrText) l c h / 0.7);
  --clrBorder: var(--color-silver);
  --clrPrimary: var(--color-silver);
}

:root[data-theme="dark"] {
  /* Dark mode variables */
  --clrBg: var(--color-offblack);
  --clrText: var(--color-offwhite);
  --clrBorder: var(--color-iridium);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    font-size: 62.5%;
    font-family:
      "Rajdhani",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      "Roboto",
      "Oxygen",
      "Ubuntu",
      "Cantarell",
      "Fira Sans",
      "Droid Sans",
      "Helvetica Neue",
      sans-serif;
    color: var(--clrText);
    background-color: var(--clrBg);
  }
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
      interpolate-size: allow-keywords;
    }
  }
  #root {
    isolation: isolate;
  }
  body {
    @apply bg-background text-foreground;
    position: relative;
    height: 100dvh;
    font-size: 1.6rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background-image: radial-gradient(var(--clrBorder) 1px, transparent 1px);
      background-size: 1.6rem 1.6rem;
      z-index: -1;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    overflow-wrap: break-word;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.6rem;
    font-weight: 400;
    text-wrap: balance;
  }
  p {
    text-wrap: pretty;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  button:not(:disabled) {
    cursor: pointer;
  }
}

/* * {
  outline: 1px solid rgba(255, 0, 0, 0.2);
} */
