/* THEME */
:root {
  --color-offblack: oklch(0.1822 0 0);
  --color-red: oklch(65.32% 0.2202 25.76);
  --color-offwhite: oklch(0.9731 0 0);
  --color-blue: oklch(0.4645 0.2992 269.05);
  --color-green: oklch(0.808 0.1685 126.11);

  --clrBg: var(--color-blue);
  --clrText: var(--color-offwhite);
  --clrDetail: oklch(from var(--clrText) l c h / 0.7);
  --clrBorder: oklch(from var(--clrText) l c h / 0.5);
}
:root[data-theme="dark"] {
  --clrBg: var(--color-offblack);
}

/* CORE */
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family:
    "Rajdhani",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  color: var(--clrText);
  background-color: var(--clrBg);
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    interpolate-size: allow-keywords;
  }
}
body {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.6rem;
  font-weight: 400;
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#root {
  isolation: isolate;
}
/* CARD TEST */
.card {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  max-width: 64rem;
  padding: 2.4rem;
  border: 0.1rem solid var(--clrBorder);
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  padding-bottom: 1.2rem;
  border-bottom: 0.1rem solid var(--clrBorder);
}
.card-title span {
  color: var(--color-green);
}
.card-status {
  color: var(--color-red);
}
.card-body h2 {
  color: var(--clrDetail);
  border-bottom: 0.1rem solid var(--clrBorder);
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1.6rem;
}
.card-footer ul {
  list-style: none;
  color: var(--clrDetail);
  font-size: 1.2rem;
}
.card-footer > div {
  display: flex;
  gap: 2.4rem;
}
.card-footer button {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background: none;
  border: none;

  &:nth-child(2) div {
    background-color: var(--clrBorder);
    border: none;
  }
}
.card-footer button div {
  display: grid;
  place-items: center;
  width: 3.4rem;
  height: 3.4rem;
  border: 0.1rem solid var(--clrBorder);
}
