@import "tailwindcss";

/* THEME */
:root {
  --color-offblack: oklch(0.1822 0 0);
  --color-iridium: oklch(0.3457 0.0052 286.13);
  --color-offwhite: oklch(0.9731 0 0);
  --color-eggshell: oklch(0.9 0.0112 243.67);
  --color-silver: oklch(0.74 0.0071 233.68);
  --color-red: oklch(65.32% 0.2202 25.76);
  --color-green: oklch(0.808 0.1685 126.11);
  --color-blue: oklch(0.4645 0.2992 269.05);

  --clrBg: var(--color-eggshell);
  --clrText: var(--color-offblack);
  --clrDetail: oklch(from var(--clrText) l c h / 0.7);
  --clrBorder: var(--color-silver);
  --clrPrimary: var(--color-silver);
}
:root[data-theme="dark"] {
  --clrBg: var(--color-offblack);
  --clrText: var(--color-offwhite);
  --clrBorder: var(--color-iridium);
}

/* CORE */
html {
  font-size: 62.5%;
  font-family:
    "Rajdhani",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  color: var(--clrText);
  background-color: var(--clrBg);
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    interpolate-size: allow-keywords;
  }
}
body {
  position: relative;
  height: 100dvh;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(var(--clrBorder) 1px, transparent 1px);
  background-size: 1.6rem 1.6rem;
  z-index: -1;
}
#root {
  isolation: isolate;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.6rem;
  font-weight: 400;
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/* HELPERS */
.bold {
  font-weight: 500;
}
.primary {
  color: var(--clrPrimary);
}
